---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Events | Chatham County Democratic Party">
  <div class="home stack-lg">
    <section class="surface stack-md">
      <h1>Events</h1>
      <p class="underline">
        This is dummy content. Be sure to remove this prior to production.
      </p>
      <p>
        The Chatham County Democratic Party is dedicated to promoting democratic values,
        supporting local candidates, and engaging the community in the political process.
      </p>
    </section>
  </div>
</Layout>
