---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"news">;
};

export async function getStaticPaths() {
  const entries = await getCollection("news", ({ data }) => !data.draft);
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = (Astro.props as Props).entry;
const { Content } = await entry.render();
---

<Layout>
  <article class="container">
    <h1>{entry.data.title}</h1>
    <p class="text-sm text-muted">
      {entry.data.date.toLocaleDateString()}
    </p>
    <Content />
  </article>
</Layout>
