---
import Layout from '../../layouts/Layout.astro';
import PostFilter from '../../components/PostFilter';
import { getCollection } from 'astro:content';

const entries = await getCollection("news", ({ data }) => !data.draft);

const posts = entries
    .slice()
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .map((entry) => ({
        slug: entry.slug,
        ...entry.data,
    }));
---

<Layout>
    <h1>News</h1>
    <p>Stay updated with the latest news and announcements from the Chatham County Democratic Party.</p>
    <PostFilter posts={posts} client:load/>
</Layout>
